<div class="row">
  <!--movies-->
    <div class="col-md-4">

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-0.3.5&s=da202040dffb7147192075c60d9db269&auto=format&fit=crop&w=750&q=80"
               class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
            <div class="mask"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Movies</h4>
          <!--Text-->
          <p class="card-text">Add the Movies that you have watched</p>
          <a class="btn btn-primary waves-light" routerLink="/movies" mdbRippleRadius>Add Movie</a>
        </div>

      </div>
      <!--/.Card-->
  </div>

  <!--seasons-->
  <div class="col-md-4">

    <!--Card-->
    <div class="card">

      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
        <img src="https://images.unsplash.com/photo-1467293622093-9f15c96be70f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c64fdfb93cfc7ef8354665bf1507b30a&auto=format&fit=crop&w=750&q=80"
             class="img-fluid" alt="Card image with a tree in a middle of a lake.">
        <a>
          <div class="mask"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">TV Seasons</h4>
        <!--Text-->
        <p class="card-text">Add the TV Seasons that you have watched</p>
        <a class="btn btn-primary waves-light" routerLink="/tv" mdbRippleRadius>Add Season</a>
      </div>

    </div>
    <!--/.Card-->

  </div>
  <div class="col-md-4">
<!--Games-->
    <!--Card-->
    <div class="card">

      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
        <img src="https://images.unsplash.com/photo-1486572788966-cfd3df1f5b42?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b4da6b29141c3acee36f4fea461fa211&auto=format&fit=crop&w=752&q=80"
             class="img-fluid" alt="Card image with a tree in a middle of a lake.">
        <a>
          <div class="mask"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Games</h4>
        <!--Text-->
        <p class="card-text">Add the Games that you have played.</p>
        <a class="btn btn-primary waves-light" routerLink="/games" mdbRippleRadius>Add Game</a>
      </div>

    </div>
    <!--/.Card-->

  </div>

</div>
