<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Movie <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li href="">Add To Wishlist</li>
        <li href="">Edit Movie</li>
        <li href="">Delete Movie</li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8">
    <h2>{{ movie.name }}</h2>
  </div>
  <div class="col-md-4">
    <h2>{{ movie.year}}</h2>
  </div>
</div>
<div class="row">
  <col-xs-12>
    <img [src]="movie.imagePath" alt="" class="img-responsive" style="max-height: 300px;">
  </col-xs-12>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ movie.description }}
  </div>
</div>


