<div class="container">
  <div class="col-xs-12">
    <a  (click)="onSelectMovieCard()">
      <div class="card" >
        <div class="card-body">
          <h6 class="card-title truncate" style="text-align: center">{{ movie.name}}</h6>
          <img
            class="img-thumbnail img-responsive" style="max-height: 150px;"
            src="{{ movie.imagePath }}"
            alt="{{ movie.name }}">
          <!--<p class="card-text">{{ movie.description}}</p>-->
          <!--<p class="card-text">Year: {{ movie.year}}</p>-->
        </div>
      </div>
    </a>

  </div>
</div>
