    <!-- Card -->
    <div class="card mx-xl-5">

      <!-- Card body -->
      <div class="card-body">

        <!-- Default form subscription -->
        <form>
          <p class="h4 text-center py-4">Log In</p>

          <!-- Default input name -->
          <label for="email" class="grey-text font-weight-light">Your Email</label>
          <input type="email" id="email" class="form-control">

          <br>

          <!-- Default input email -->
          <label for="password" class="grey-text font-weight-light">Your Password</label>
          <input type="password" id="password" class="form-control">

          <div class="text-center py-4 mt-3">
            <button class="btn btn-outline-purple" type="submit">Log In<i class="fa fa-paper-plane-o ml-2"></i></button>
          </div>
        </form>
        <!-- Default form subscription -->

      </div>
      <!-- Card body -->

    </div>
    <!-- Card -->

